
*{
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
}
.card {
  border: 2px solid;
}
.cardContent {
  display: flex;
  flex-direction: column;
 width: 85%;
 margin: auto;
}
.cardContent p{
  font-size: 20px;
  font-weight: bold;
}
.cardTitle{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}
.description p{
text-align: left; 

}
.cardAction {
  display: flex;
  justify-content: flex-end;
}
.img{
  width: 250px;
  height:250px;
}
.flex{
  margin-top:100px;
}