* {
  box-sizing: border-box;
  font-family: 'Roboto Serif', sans-serif;
  margin: 0;
  padding: 0;
}
.top {
  margin-top: 100px;
}
.flex {
  display: flex;
  justify-content: center;
}
.mainCart {
  margin-top: 100px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
}
.mainCart h1 {
  text-align: center;
  width: 85%;
  margin: auto;
  padding-bottom: 1em;
  border-bottom: 1px solid black;
}
.mainCart h2 {
  text-align: center;
  
}
.cartFlex {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 40px;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 300px;
}
.card {
  max-width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 30px #ccc;
  border-radius: 10px;
  margin-top: 15px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
}
.cardContent h1,
h2,
h3 {
  margin: 0;
}
.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#root > div > div > div > div > div > div.cardContent > h3 > p {
  text-align: center;
}
.description p {
  text-align: left;
}
.cardAction {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartButton {
  border-radius: 20px;
  width: 30px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
}
.cardAction p {
  font-size: 30px;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  margin: 0;
}
.cardAction span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 25px;
  border:none;
  box-shadow: 0 0 10px;
  cursor: pointer;
}
.blue{
  background-color: #0077b6;
}
.red{
  background-color: #d62828 ;
}
.cartBtn {
  border-radius: 15px;
  height: 40px;
  width: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}
.img {
  width: 250px;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.totalPayment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 4em;
}

.btn.medium {
  border-radius: 30px;
  height: 50px;
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.containerBtns{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  
}
.small {
 
  height: 30px;
  width: 130px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.relative{
  position: relative;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;

}

.footer-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li{
  margin: 0 10px;
}

.socials a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
  font-size: 2em;
}

.banner{
  display: flex;
  justify-content: center;
margin-bottom: 30px;
}
.imgBanner{
  width: 100vw;
  margin-top: -300px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

@media screen and (max-width: 680px) {
 .cartFlex{
   justify-content: center;
 }
}
